/********General*********/

@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan.ttf') format('truetype'), url('../fonts/BYekan.eot'), url('../fonts/BYekan.woff') format('woff');
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.ttf') format('truetype'), url('../fonts/Vazir.eot'), url('../fonts/Vazir.woff') format('woff');
}

@font-face {
    font-family: 'IRANYekan';
    src: url('../fonts/IRANYekan.ttf') format('truetype'), url('../fonts/IRANYekan.eot'), url('../fonts/IRANYekan.woff2') format('woff2');
}

.BYekan {
    font-family: 'BYekan', Tahoma, Geneva, Verdana, sans-serif;
}

.vazir {
    font-family: 'Vazir', Tahoma, Geneva, Verdana, sans-serif;
}

.IRYekan {
    font-family: 'IRANYekan', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.vr-seperator {
    width: 1px;
    height: 10px;
    background-color: #fff;
}

.vr-seperator-sm {
    height: 10px !important;
}

.vr-seperator-md {
    height: 20px !important;
}

.vr-seperator-lg {
    height: 40px !important;
}

.vr-seperator-xl {
    height: 60px !important;
}

.vr-seperator-xxl {
    height: 80px !important;
}

.text-light-silver {
    color: var(--light-silver);
}

.text-silver {
    color: var(--silver);
}

.border-light-silver {
    border-color: var(--light-silver);
}

.border-silver {
    border-color: var(--silver);
}

.bg-light-silver {
    background-color: var(--light-silver);
}

.bg-silver {
    background-color: var(--silver);
}

.fs-9 {
    font-size: 9px;
}

.fs-10 {
    font-size: 10px;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-18 {
    font-size: 18px;
}

.text-shadow-dark {
    text-shadow: 0.6pt 0.6pt 4px #000000;
}

.box-shadow-dark {
    box-shadow: 0.6pt 0.6pt 4px #000000;
}

.text-shadow-light {
    text-shadow: 0.6pt 0.6pt 4px #fff;
}

.box-shadow-light {
    box-shadow: 0.6pt 0.6pt 4px #fff;
}

:root {
    --light-silver: #ececec;
    --silver: #dddddd;
}

.mCS_rightPos .mCSB_container {
    margin: 0 !important;
}

.mCSB_scrollTools {
    z-index: 1000;
    width: 8px;
}

.mCSB_draggerContainer {
    width: 8px;
}

.mCSB_dragger_bar {
    width: 8px !important;
    background-color: rgb(29, 29, 29) !important;
    box-shadow: 0 0 3px 1px #f5f5f5;
}

.swiper-container {
    transition: margin 500ms ease-in-out;
}

.swiper-btn {
    top: 50%;
    transform: translateY(-50%);
    z-index: 8;
    border-radius: 0 !important;
}

.swiper-btn {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none;
}

.swiper-btn {
    background-color: rgba(255, 255, 255, 0.7) !important;
    color: rgb(95, 95, 95)
}

.swiper-btn {
    border: 2px solid transparent;
    box-shadow: 0 0 6px 2px transparent;
    transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
}

.swiper-btn:active {
    border: 2px solid #fff;
    box-shadow: 0 0 6px 3px #fff;
    transition: 0.2s;
    -o-transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
}

.swiper-btn.disabled {
    color: #aaa !important;
    background-color: rgba(218, 218, 218, 0.7) !important;
}

.swiper-btn-next {
    left: 0;
}

.swiper-btn-prev {
    right: 0;
}


/*****************/


/********Head**********/

.bodyBox {
    max-height: 100%;
}

.header-container {
    z-index: 5;
}

.slider .sliderUl>li {
    z-index: 3;
    display: none;
}

.slider .sliderUl>li:first-child {
    display: block;
}

.slider .sliderUl img {
    width: 100%;
    height: 100%;
}

.header-menu .nav .nav-item {
    font-size: 14px;
}

.header-menu .nav .nav-item.active .nav-link {
    color: #1de0e7 !important;
}

.header-menu .nav .nav-item .nav-link.special {
    color: #da102b !important;
}

.header-menu .nav .nav-item .nav-link .nav-link-triangle {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(255, 255, 255);
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}

.cart-badge {
    top: 6%;
    right: 6%;
}

.sliderOperationBox {
    z-index: 4;
    top: 480px;
    right: 60px;
}

.sliderOperationBox .sliderPaginateBox .sliderPaginateItem {
    width: 8px;
    height: 8px;
    border: 2px solid #272727;
    box-shadow: 0 0 1px 1px #fff;
}

.sliderOperationBox .sliderPaginateBox .sliderPaginateItem.active {
    background-color: #fff;
}

.sliderOperationBox .sliderBtnBox i {
    font-size: 28px;
}

.header-cartBox .header-cart {
    display: none;
    width: 380px;
    max-height: 400px;
    top: 40px;
    box-shadow: 0px 2px 8px 2px #505050;
    z-index: 6;
}

.header-cartBox .header-cart::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(255, 255, 255);
    position: absolute;
    top: -8px;
    right: 11px;
}

.header-userBox .header-user-msg {
    display: none;
    top: 40px;
    width: 150px;
    box-shadow: 0 1px 4px 1px #272727;
    padding: 4px 8px;
    z-index: 10;
}

.header-userBox .header-user-msg::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(255, 255, 255);
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
}

.t-header-container {
    top: 20px;
    z-index: 8;
}

.c-mega-menu {
    display: none;
    position: absolute;
    top: 104%;
    left: 50%;
    width: 100vw;
    max-width: 100%;
    height: 78vh;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    z-index: 10;
}


/* .nav-item:first-child .c-mega-menu {
    display: block;
} */

.c-mega-menu .c-mega-sub-menu .c-mega-sub-menu-item {
    color: #666;
    cursor: default;
    border-bottom: 2px solid #fff;
    transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.c-mega-menu .c-mega-sub-menu .c-mega-sub-menu-item .c-mega-sub-menu-title>img {
    max-width: 22px;
    max-height: 22px;
    opacity: 0.6;
}

.c-mega-menu .c-mega-sub-menu .c-mega-sub-menu-item.active {
    color: #303030;
    border-bottom: 2px solid rgb(85, 177, 252);
    transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.c-mega-menu .c-mega-sub-menu .c-mega-sub-menu-item.active img {
    opacity: 1;
}

.c-mega-menu-seperator {
    height: 260px !important;
}

.c-mega-menu-cat-list a {
    color: #888;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
}

.c-mega-menu-cat-list li a:hover {
    color: #222;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
}

.c-mega-menu-top-brand li,
.c-mega-menu-top-brand li a {
    width: 200px;
}

.c-mega-menu-top-brand li img {
    width: 100%;
    height: 100%;
}

.c-mega-sub-menu-item .c-mega-sub-menu-body {
    display: none;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.c-mega-sub-menu-item.active .c-mega-sub-menu-body {
    display: flex !important;
}

.c-mega-menu-right {
    height: 60vh;
}


/******************/


/****h-product-items******/

.h-product-items.h-product-items-ds {
    height: 100%;
    width: 350px;
    padding: 10px;
}

.h-product-items .h-product-overly {
    background-color: #777777;
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.h-product-items-top {
    height: 260px;
    overflow: hidden;
}

.h-product-items-top .h-product-items-pic {
    height: 200px;
    width: 100%;
}

.h-product-items-top .h-product-items-pic a {
    height: 100%;
    width: 100%;
}

.h-product-items-top .h-product-items-pic img {
    height: 100%;
}

.h-product-items-top .h-product-items-brand,
.h-product-items .h-product-items-info {
    z-index: 5 !important;
}

.h-product-items .h-product-items-info {
    bottom: -37px;
    width: 100%;
    right: 0;
    transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.h-product-items:hover .h-product-items-info {
    bottom: 0;
    transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
}

.h-product-items .h-product-items-bottom {
    z-index: 6;
}

.h-product-items .h-product-items-bottom span {
    margin-left: -8px;
}

.h-product-items .h-product-items-info .h-product-items-info-top .h-product-items-off {
    background-color: rgba(0, 0, 0, 0.8)
}


/***********************/


/****s-weekly-style******/

.s-weekly-style * {
    z-index: 2;
}

.weekly-style-title button {
    background-color: #fff;
}

.weekly-style-main-pic {
    height: 86%;
}

.weekly-style-main-pic img {
    height: 100%;
}

.weekly-style-line {
    z-index: 1 !important;
    width: 90%;
    right: 56px;
    height: 94%;
}

.weekly-style-box .weekly-style-items {
    height: 400px;
    width: 300px;
    padding: 10px;
}


/***********************/


/*******s-category-tab*******/

.s-category-tab {
    background-color: rgb(245, 245, 245);
}

.category-tab-nav .nav-tabs {
    border: none !important;
}

.category-tab-nav .nav-tabs .nav-item .nav-link {
    background-color: transparent !important;
    border: none !important;
    color: #888 !important;
    padding: 10px 10px !important;
    transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
}

.category-tab-nav .nav-tabs .nav-item .nav-link:hover {
    color: #444 !important;
    transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
}

.category-tab-nav .nav-tabs .nav-item .nav-link.active {
    border-bottom: 3px solid #222 !important;
    color: #222 !important;
}

.category-tab-content .category-tab-link .category-tab-img {
    width: 100%;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

.category-tab-content .category-tab-link {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.category-tab-content .category-tab-link:hover img {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}

.category-tab-content .category-tab-link:hover span {
    color: #222;
    transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
}


/***********************/


/********s-bestselling-container*********/

.s-bestselling {
    height: 85vh;
}

.s-bestselling .bestselling-container {
    height: 100%;
}

.bestselling-container .bestselling-items .h-product-items-top {
    height: 360px;
}


/******************/


/********s-popular-brands*********/

.s-popular-brands * {
    position: relative;
    z-index: 2;
}

.s-popular-brands .popular-brands-line {
    height: 240px;
    background-color: rgb(228, 228, 228);
    right: 0;
    top: 0;
    z-index: 1;
}

.s-popular-brands .popular-brands-icon {
    height: 240px;
}

.popular-brands-product-items .h-product-items-top {
    height: 360px;
}


/******************/


/********s-designers**********/

.designers-body .nav-pills .nav-link,
.designers-body .nav-pills .nav-link.active {
    border: none !important;
    background-color: transparent !important;
}

.designers-body .nav-pills .nav-link {
    color: #888 !important;
    font-size: 18px;
}

.designers-body .nav-pills .nav-link.active {
    color: #222 !important;
    font-size: 22px;
}

.designers-items {
    height: 400px;
}


/******************/