/********General*********/

@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan.ttf') format('truetype'), url('../fonts/BYekan.eot'), url('../fonts/BYekan.woff') format('woff');
}

@font-face {
    font-family: 'Vazir';
    src: url('../fonts/Vazir.ttf') format('truetype'), url('../fonts/Vazir.eot'), url('../fonts/Vazir.woff') format('woff');
}

.BYekan {
    font-family: 'BYekan', Tahoma, Geneva, Verdana, sans-serif;
}

.vazir {
    font-family: 'Vazir', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

.vr-seperator {
    width: 1px;
    height: 10px;
    background-color: #fff;
}

.vr-seperator-sm {
    height: 10px !important;
}

.vr-seperator-md {
    height: 20px !important;
}

.vr-seperator-lg {
    height: 40px !important;
}

.vr-seperator-xl {
    height: 60px !important;
}

.text-light-silver {
    color: var(--light-silver);
}

.text-silver {
    color: var(--silver);
}

.border-light-silver {
    border-color: var(--light-silver);
}

.border-silver {
    border-color: var(--silver);
}

.fs-9 {
    font-size: 9px;
}

.fs-10 {
    font-size: 10px;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.text-shadow-dark {
    text-shadow: 0.6pt 0.6pt 4px #000000;
}

.box-shadow-dark {
    box-shadow: 0.6pt 0.6pt 4px #000000;
}

:root {
    --light-silver: #e7e7e7;
    --silver: #eeeeee;
}

.mCS_rightPos .mCSB_container {
    margin: 0 !important;
}

.mCSB_scrollTools {
    z-index: 10;
    width: 8px;
}

.mCSB_draggerContainer {
    width: 8px;
}

.mCSB_dragger_bar {
    width: 8px !important;
    background-color: rgb(29, 29, 29) !important;
    box-shadow: 0 0 3px 1px #f5f5f5;
}


/*****************/


/********Head**********/

.bodyBox {
    max-height: 100%;
}

.header-container {
    z-index: 5;
}

.slider .sliderUl>li {
    z-index: 4;
    display: none;
}

.slider .sliderUl>li:first-child {
    display: block;
}

.slider .sliderUl img {
    width: 100%;
    height: 100%;
}

.header-menu .nav .nav-item {
    font-size: 14px;
}

.header-menu .nav .nav-item .nav-link.active {
    color: #f1c40f !important;
    text-shadow: none !important;
}

.header-menu .nav .nav-item .nav-link.special {
    color: #da102b !important;
    text-shadow: none !important;
}

.cart-badge {
    top: 6%;
    right: 6%;
}

.sliderOperationBox {
    z-index: 5;
    top: 480px;
    right: 60px;
}

.sliderOperationBox .sliderPaginateBox .sliderPaginateItem {
    width: 8px;
    height: 8px;
    border: 2px solid #272727;
    box-shadow: 0 0 1px 1px #fff;
}

.sliderOperationBox .sliderPaginateBox .sliderPaginateItem.active {
    background-color: #fff;
}

.sliderOperationBox .sliderBtnBox i {
    font-size: 28px;
}

.header-cartBox .header-cart {
    display: none;
    width: 380px;
    max-height: 400px;
    top: 40px;
    box-shadow: 0px 2px 8px 2px #505050;
}

.header-cartBox .header-cart::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(255, 255, 255);
    position: absolute;
    top: -8px;
    right: 11px;
}

.header-userBox .header-user-msg {
    display: none;
    top: 40px;
    width: 150px;
    box-shadow: 0 1px 4px 1px #272727;
    padding: 4px 8px;
}

.header-userBox .header-user-msg::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgb(255, 255, 255);
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
}


/******************/