
.icon-search-thin:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-basket-thin:before { content: '\e802'; } /* '' */
.icon-login-thin:before { content: '\e803'; } /* '' */
.icon-arrow-right:before { content: '\e804'; } /* '' */
.icon-arrow-left:before { content: '\e805'; } /* '' */
